* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, serif;
}




body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fbe9e7;
}



/* <!-- Cards stylings --> */
.cards {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 25);
  transform: 5s;
}
/* <!-- Cards:hover  stylings --> */

.cards:hover {
    transform: translatex(50%);
}



/* <!-- image box stylings  --> */
.cards  .image_box
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transform: 5s;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 25);
    /* backface-visibility: hidden; */

}

/* <!-- image_box :hover  stylings  --> */

.cards:hover  .image_box{
    transform: rotatey(-180deg);
}


/* <!-- iamge stylings  --> */

.cards .image_box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;

}

/* <!-- cards details  stylings --> */
.cards .card_details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* <!-- cards content  stylings --> */
.cards .card_details .card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* <!-- content os the cards stylings --> */
.cards .card_details .card_content h1 {
  align-items: center;
  font-weight: 700;
  line-height: 1em;
}

/* <!-- content os the cards stylings --> */

.cards .card_details .card_content h1 span {
  color: red;
  font-size: 0.8em;
}

/* <!-- social_icons   stylings --> */

.cards .card_details .card_content .social_icons {
  position: relative;
  display: flex;
  margin-top: 10px;
}

/* <!-- social_icons anchor_tages    stylings --> */


.cards .card_details .card_content .social_icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  translate: 0.2s;
}

/* <!-- social_icons anchor_tages:hover    stylings --> */
.cards .card_details .card_content .social_icons a:hover{
    background-color: red;
}
